* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./image-Photoroom.png) no-repeat center center / cover;
  background-blend-mode: darken;
  min-height: 100vh;
  font-family: 'Lobster Two', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.search-container {
  width: 100%;
  max-width: 600px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 3px 10px gray;
  margin-bottom: 60px;
}

#input {
  width: 70%;
  height: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 0 15px;
}

#search {
  width: 30%;
  height: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.profile-card {
  width: 100%;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px gray;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 20px 0;
}

#prof-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 3px 10px rgb(96, 93, 93);
}

.name {
  font-size: 25px;
  margin-top: 10px;
}

#username {
  font-size: 20px;
  margin: 5px 0 8px;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.bio {
  text-align: center;
  padding: 20px 10px;
  font-size: 23px;
}

#bio {
  font-weight: bold;
  color: rgb(140, 64, 150);
}

p {
  margin-top: 12px;
}

.follow {
  display: flex;
  border-top: 1px solid grey;
  font-size: 20px;
  height: 60px;
}

.follow div {
  flex: 1;
  text-align: center;
  padding-top: 15px;
}

.followers {
  border-right: 1px solid grey;
}

@media screen and (max-width: 600px) {
  .search-container,
  .profile-card {
    width: 100%;
    max-width: 90%;
    margin: 0 auto 20px;
  }

  .bio {
    font-size: 20px;
  }
}
